
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: aliceblue; */
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 30px;
  background-color: #000000;
}

.shan {
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

ul li a:hover,
ul li a.active {
  text-decoration: underline 2px;
  text-underline-position: 8px;
  text-underline-offset: 9px;
  color: white;
  text-decoration-color: rgb(34, 180, 216);
}

.imburger {
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 1024px) {
  /* Show hamburger on small screens */
  .imburger {
      display: flex;
      cursor: pointer;
  }

  /* Hide the menu by default on small screens */
  ul {
      display: none;
      flex-direction: column;
      gap: 8px;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: rgb(1, 1, 1);
      z-index: 1;
  }

  /* Styles when the menu is active (shown) */
  ul.ham_active {
      display: flex;
      animation: move 1.5s ease forwards; 
  }

  ul li {
      padding: 24px 0px;
      text-align: center;
  }
}

@keyframes move {
  0%{
      transform: translatey(100px);
      opacity: 0;
  }
  100%{
      transform: translate(0px);
      opacity: 1;
  }
}
.slider {
  /* height: 680px; */
  width: 100%;
  height: 90vh;
  top: 50%;
  /* left: 50%; */
  background-image: url("./photos/face.jpg");
  background-size: cover;
  object-fit: cover;
  background-size: 100% 100%;
  animation: slider 9s infinite;
}
/* @keyframes slider{
           0%{background-image: url('./photos/face.jpg');}
           45%{background-image: url('./photos/face1.jpg');}
           75%{background-image: url('./photos/face2.jpg');}
    }  */

/* Initial state for the text */
/* Basic setup for the text element */
/* Basic setup for the text element */
/* Basic setup for the text element */

#developerText {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 3px solid black; /* Cursor effect */
  /* height: 60px;  */

  visibility: visible;
  opacity: 1;
  white-space: normal; /* Ensures the text wraps properly */
  word-wrap: break-word; /* Allows text to break and wrap */
}
/* Typing effect animation */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Cursor blink effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Responsive adjustments (Optional) */











.info {
  position: absolute;
  display: flex;
  gap: 20px;
}

.m {
  font-size: 27px;
  background: red;
}

.nam {
  font-family: Times, "Times New Roman", Georgia, serif;
}
.para {
  display: flex;
  flex-wrap: wrap;
  font-size: 21px;
  width: 50%;
}
.pri {
  height: 41px;
  width: 110px;
  font-size: 13px;
  color: rgb(34, 180, 216);
  background-color: black;
  border-radius: 6px;
  margin-top: 18px;
  border: 2px solid rgb(34, 180, 216);
}
.sec {
  height: 41px;
  width: 110px;
  font-size: 13px;
  color: rgb(34, 180, 216);
  background-color: black;
  border-radius: 7px;
  margin-left: 15px;
  border: 2px solid rgb(34, 180, 216);
}
.pri:hover,
.sec:hover,
.prii:hover {
  background-color: rgb(34, 180, 216);
  color: white;
  cursor: pointer;
}
.icons {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 8px;
  gap: 36px;
  font-size: 20px;
  cursor: pointer;
}




.container {
  width: 100%;
  background-color: rgb(253, 252, 252);
  box-sizing: border-box;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding: 50px;
}
.profile-img {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  object-fit: cover;
  margin:auto;
}








.about-section {
  /* width: 40%; */
  line-height: 1.5;
}
.section-title {
  font-size: 40px;
  font-weight: 700;
  color: rgb(34, 180, 216);
  padding-bottom: 20px;
}

.section-titlee {
  font-family: "Goudy Bookletter 1911";
  font-size: 22px;
  /* font-size: 40px; */
  font-weight: 800;
  color: rgb(34, 180, 216);
  padding-bottom: 20px;
}
.about-text {
  max-width: 500px;

  padding-bottom: 14px;
}
.iiinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .profile-img {
    width: 40%;
    height: auto; /* Keep height proportional */
    border-radius: 50%; /* Optional: to make it circular */
    object-fit: cover;
    margin-top: 0; /* Adjust margin if needed */
  }
}
@media screen and (max-width: 768px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;

  }
  .para{
    width: 90%;
  }

  .profile-img {
    width: 70%;
    height: auto; /* Keep height proportional */
    border-radius: 50%; /* Optional: to make it circular */
    object-fit: cover;
    margin-top: 0; /* Adjust margin if needed */
  }
}
@media screen and (max-width: 425px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .profile-img {
    width: 100%;
    height: auto; /* Keep height proportional */
    border-radius: 50%; /* Optional: to make it circular */
    object-fit: cover;
    margin-top: 0; /* Adjust margin if needed */
  }
}

@media screen and (max-width: 600px) {
  .out {
    flex-direction: column;
  }
}
.skil {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(34, 180, 216);
}
/* .skills {
  width: 100%;
  background-color: rgb(238, 240, 239);
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 100px 0px 100px;
} */
.tit {
  font-size: 40px;
}
.yoy {
  width: 40%;
  line-height: 1.5;
}
.ss {
  word-spacing: 150px;
}

@media screen and (max-width: 1024px) {
  .skills {
    flex-direction: column;
  }
  .yoy {
    width: 100%;
  }
  .exx {
    flex-direction: row;
  }
 
}

/* projects */

.projects {
  display: flex;
  gap: 40px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.project img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  object-fit: center;
  transition: filter 0.3s ease;
}

.project .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(34, 180, 216);
  backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 10%;
  padding: 30px 0px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
}

.project:hover img {
  filter: blur(4px);
}

.project:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.project h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.project p {
  font-size: 0.9em;
}

.cardbody {
  height: 390px;
  width: 390px;
  background-color: white;
  border: 2px solid rgb(34, 180, 216);
  border-radius: 10px;
  border-image-width: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  text-align: center;
}
.cardbody:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgb(34, 180, 216);
}

.prii {
  margin-top: 36px;
  margin-left: 38%;
  height: 50px;
  width: 110px;
  background-color: white;
  color: rgb(34, 180, 216);
  border: 2px solid rgb(34, 180, 216);
  border-radius: 20px;
  cursor: pointer;
}
.cardbody:hover,
.input:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgb(34, 180, 216);
}
.img {
  width: 100%;
  height: 40%;
}

.whole {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  align-items: center;
  padding: 30px 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.cardbody i {
  font-size: 40px;
  color: rgb(34, 180, 216);
}
.cardbody h1 {
  margin-top: 10px;
  color: rgb(34, 180, 216);
}
.cardbody p {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 14px;
  color: #333;
}
.prii:hover {
  background-color: rgb(34, 180, 216);
  color: white;
}

.con {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  gap: 10px;
}
.cont {
  width: 100%;
  background-color: rgb(232, 232, 239);
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;
}
.hero {
  height: 46px;
  width: 120px;
  padding: 10px;
  color: rgb(34, 180, 216);
  border: 2px solid rgb(34, 180, 216);
  margin-top: 50px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.hero:hover {
  color: white;
  background-color: rgb(34, 180, 216);
  cursor: pointer;
  transform: translate(-5px);
}
@media screen and (max-width: 1024px) {
  .whole {
    flex-wrap: wrap;
    align-items: center;
  }

  .cardbody {
    
    margin: 10px 0;
  }

  .con {
    margin-top: 20px;
    flex-direction: column;
  }

  .prii {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .skil {
    font-size: 24px;
  }

  .cardbody {
    width: 100%;
    height: fit-content;
    padding: 20px;
  }

  .prii {
    width: 100%;
    margin-left: 0;
  }
}

.contactfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  flex-wrap: wrap;
  gap: 5px;
  padding: 20px;
  background-color: #fbfafa;
}
.inputfield,
.inputfield1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 27px;
}
.inputfield input {
  padding: 20px;
  height: 37px;
  width: 300px;
  border: 2px solid rgb(34, 180, 216);
  overflow: hidden;
}
.inputfield1 input {
  padding: 20px;
  height: 37px;
  width: 300px;
  border: 2px solid rgb(34, 180, 216);
}

textarea {
  margin: 20px 0px;
  width: 610px;
  height: 130px;
  /* width: 610px; */
  /* padding: 80px 220px; */
  border: 2px solid rgb(34, 180, 216);
}
@media screen and (max-width: 655px) {
  .contactfield textarea {
    width: 300px;
  }
  .contactfield {
    padding: 0px 90px;
  }
}
.contactfield button {
  height: 40px;
  width: 100%;
  max-width: 600px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid rgb(34, 180, 216);
}

.contactfield button:hover {
  background-color: rgb(34, 180, 216);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}







@keyframes bounce-in {
  0% {
    transform: translateY(270px); 
    opacity: 0;
  }
  50% {
    transform: translateY(-10px); 
    opacity: 1;
  }
  100% {
    transform: translateY(0); 
  }
}

.animate-bounce-in {
  animation: bounce-in 3s ease-out forwards;
}

.icons i:nth-child(1) {
  animation-delay: 0.2s;
}

.icons i:nth-child(2) {
  animation-delay: 0.4s;
}

.icons i:nth-child(3) {
  animation-delay: 0.6s;
}

.icons i:nth-child(4) {
  animation-delay: 0.8s;
}










/* Custom keyframes for button animation */
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom keyframes for the second button */
@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the buttons */
.animate-appear {
  animation: appear 1s forwards;
}

.animate-appear2 {
  animation: appear2 1s forwards;
}








/* Keyframes for "SKILLS" animation from bottom to top */
@keyframes appear-skills {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Starts from 20px below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Ends at the normal position */
  }
}

/* Apply the animation when triggered */
.animate-skills {
  animation: appear-skills 1s forwards;
}

/* Hidden state (initial state, before animation is triggered) */
.animate-hidden {
  opacity: 0;
  transform: translateY(20px); /* Keeps it hidden and slightly off-screen */
}









/* Section Animations */
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation classes */
.animate-left {
  animation: slideFromLeft 1s ease-out forwards;
}

.animate-right {
  animation: slideFromRight 1s ease-out forwards;
}

.animate-skills {
  animation: slideFromBottom 1s ease-out forwards;
}


/* Card Animations */
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slideFromBottom 1s ease-out forwards;
  opacity: 1;
}

/* Optional delays for cards */
.card-1 {
  animation-delay: 0s;
}

.card-2 {
  animation-delay: 1s;
}

.card-3 {
  animation-delay: 2s;
}









/* Define the keyframes for each animation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Add classes for animations */
.cardbody {
  opacity: 0;  /* Initially hide the cards */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

.cardbody.animate-left {
  animation: slideInFromLeft 1s forwards;
}

.cardbody.animate-bottom {
  animation: slideInFromBottom 1s forwards;
}

.cardbody.animate-right {
  animation: slideInFromRight 1s forwards;
}










